/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share:wght@400;500;600&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, ul, p {
    margin: 0;
}

ul {
    padding-inline-start: 20px;
}

body {
    --text-color: #2d2828;
    --back-color: white;
    &.dark-theme {
        --text-color: white;
        --back-color: #2d2828;
    }
    margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Share;
    color: var(--text-color);
    background-color: var(--back-color);
    transition: .35s cubic-bezier(0.645, 0.045, 0.355, 1);
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        top: -80px;
        padding-left: 30px;
        padding-right: 35px;
        transition: .35s cubic-bezier(0.645, 0.045, 0.355, 1);
        .download, .change-theme {
            cursor: pointer;
            font-size: 1.3rem;
        }
        &.sticky {
        position: sticky;
        top: 0;
        width: 100%;
        background: var(--back-color);
        z-index: 5;
        }
        @media screen and (min-width: 968px) {
            display: none;
        }
    }
    @media screen and (min-width: 968px){
        margin: 3rem 0;
    }
}

main, .scale-cv {
    margin: 0 1rem;
    max-width: 968px;
    @media screen and (min-width: 968px) {
        margin: auto;
        width: calc(100% - 3rem)
    }
    .resume {
        @media screen and (min-width: 968px) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            box-shadow: 0 0 9px rgba(8, 7, 7, 0.104);
        }
        section {
            padding: 1.5rem;
            h3 {
                text-transform: uppercase;
                letter-spacing: 0.4rem;
                text-align: center;
                margin-bottom: 1.5rem;
            }
        }
        #me {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.7rem;
            .icons {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .avatar {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 0 auto;
            }
            .download, .change-theme {
                cursor: pointer;
                font-size: 1.3rem;
            }
            .name {
                font-family: Yellowtail;
                font-weight: 400;
                font-size: 33px;
            }
            .profession {
                font-weight: 500;
                font-size: 20px;
            }
            @media screen and (max-width: 968px) {
                margin-top: -70px;
                .icons {
                    display: none;
                }
            }
        }
        #contacts {
            ul {
                font-size: 0.8rem;
                list-style-type: none;
                font-weight: 500;
                font-size: 0.85rem;
                li {
                    margin-bottom: 1rem;
                    i {
                        margin-right: 1rem;
                    }
                }
            }
        }
        #social {
            ul {
                font-size: 0.8rem;
                list-style-type: none;
                font-weight: 500;
                font-size: 0.85rem;
                li {
                    margin-bottom: 1rem;
                    i {
                        margin-right: 1rem;
                    }
                }
            }
        }
        #aboutme {
            p {
                text-align: center;
            }
        }
        #education {
            display: grid;
            gap: 1.5rem;
            .cell {
                display: flex;
                &__progress {
                    width: 16px;
                    .top {
                        height: 57%;
                        width: 2px;
                        transform: translate(6.5px, 0);
                        background-color: var(--text-color);
                    }
                    .round {
                        width: 15px;
                        height: 15px;
                        background-color: var(--text-color);
                        border-radius: 50%;
                    }
                    .bottom {
                        height: 57%;
                        width: 2px;
                        transform: translate(6.5px, 0);
                        background-color: var(--text-color);
                    }
                }
                &__text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    margin-left: 1rem;
                }
            }
        }
        #skills {
            .skills {
                display: grid;
                gap: 1.5rem;
                grid-template-columns: repeat(2, 1fr);
                ul {
                    li {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        #languages {
            ul {
                li {
                    margin-bottom: 2rem;
                }
            }
        }
        #projects {
            .projects {
                display: grid;
                gap: 1.5rem;
                line-height: 1.5rem;
                p {
                    position: relative;
                    text-indent: 20px;
                    a {
                        text-decoration: underline;
                        &:hover {
                            font-weight: 600;
                        }
                    }
                    &:before {
                        display: block;
                        position: absolute;
                        top: 8px;
                        content: "";
                        width: 7px;
                        height: 7px;
                        background: var(--text-color);
                    }
                }
            }
        }
        #certificates {
            .certificates {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                justify-content: center;
                img {
                    height: 150px;
                }
            }
        }
    }
}

.scale-cv {
    @media (max-width: 968px) {
        #me {
            padding-top: 80px;
        }
        #skills {
            margin-top: 120px;
        }
        #certificates {
            margin-top: 80px;
        }
    }
    @media screen and (min-width: 968px) {
        #certificates {
            margin-top: 353px;
        }
        #skills {
            margin-top: 60px;
        }
    }
    .download, .change-theme {
        display: none;
    }
}

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--container-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
  }
